@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../styles/variables.scss";

@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: PTSans;
  src: url("../../assets/fonts/PTSans-Regular.ttf");
}
html,
body {
  height: 100%;
}
body { 
  @include main-padding;
  background: $main-background; 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  height: 100vh;
}

//GLOBAL CLASS TO ACTIVE LINKS

.active-link {
  color: $text-color-white !important;
}

//PAGES-CONTAINERS-IN-ROUTER

.container{
  @include page-container;
}


.mat-button-toggle-checked{
  color: white !important;
}

.mat-button-toggle-group{
  border: none !important;  
}

.remove-dialog > mat-dialog-container, .task-form > mat-dialog-container  {
  background: $main-background;
}


// Change color mat-input task-form

.task-form .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: blue !important;
  font-size: 1.1rem;
 }
 .task-form .mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
} 

.task-form .mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: white !important;
}

.task-form .mat-form-field-appearance-fill .mat-form-field-flex{
  background: white !important;
}

.task-form .mat-input-element{
  padding: 5px 0 !important;
}

//Change mat-radio colors task-list

.task-form .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: $red-btn; 
}

.task-form .mat-radio-button.mat-accent .mat-radio-inner-circle{
  color: $red-btn;
  background-color: $red-btn;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element  {
    background-color:blue;
}

.task-form .mat-radio-outer-circle {
  background: white !important;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element{
  background-color:blue !important;
}


.disabled {
  background: gray !important;
  &:hover {
    background: gray !important;
  }
}


.alert-container{
  position: fixed;
  bottom: 50px;
  right: 50px;
  align-self: flex-end;
}