// <============  BACKGROUND COLORS  ===============>
$main-background: #2a3f50;
$white-background: white;

// <============  FONT STYLES  ===============>

// SIZES

$font-size-text-desktop: 1.14rem;
$font-size-text-mobile: 1.5rem;
$font-size-title-desktop: 1.5rem;
$font-size-title-mobile: 2rem;

// COLORS

$text-color-white: white;
$text-color-blue: #8da5b8;
$text-color-blue-hover: #82c7e0;
$text-color-grey: #7f7f7f;

// <============  SETTINGS GROUPS COLORS  ===============>

$work-time-color: #ffb202;
$work-iteration-color: #00d4d9;
$short-break-color: #57a6dc;
$long-break-color: #b470d0;

// <============  PRIORITY COLORS  ===============>

$priority-urgent: #f75c4c;
$priority-high: #ffa841;
$priority-middle: #fddc43;
$priority-low: #1abc9c;

// <============  NOTIFICATIONS COLORS  ===============>

$notificalion-info-color: #59abe3;
$notificalion-error-color: #f75c4c;
$notificalion-warning-color: #ffa841;
$notificalion-success-color: #1abc9c;

// <============  CATEGORIES COLORS  ===============>

$category-work: #ffb202;
$category-hobby: #b470d0;
$category-education: #59abe3;
$category-sport: #e16c65;
$category-other: #00d4d9;

// <============  ALERTS COLORS  ===============>

$alert-success: #1abc9c;
$alert-danger: #f75c4c;
$alert-info: #59abe3;
$alert-warning: #ffa841;

// <============  BUTTONS COLORS & MIXIN  ===============>

$blue-btn: #59abe3;
$green-btn: #1abc9c;
$red-btn: #f15a4a;

$blue-btn-hover: #368bc5;
$green-btn-hover: #16a085;
$red-btn-hover: #f0331d;

@mixin button($width, $height, $bg-color, $hover-color) {
  width: $width;
  height: $height;
  background: $bg-color;
  border: 0;
  color: white;
  font-size: 1.13rem;
  font-weight: 500;
  font-family: "PTSans";
  cursor: pointer;
  &:hover {
    background: $hover-color;
  }
  @media (max-width: 1024px) {
    font-size: 1.5rem;
  }
}

// <============  RESET STYLES  ===============>

@mixin reset-margin-padding {
  margin: 0;
  padding: 0;
}

@mixin reset-btn-styles {
  background: none !important;
  border: none !important;
}

// <============  STYLES MIXINS   ===============>

@mixin main-padding {
  padding: 30px 60px;
  @media (max-width: 1024px) {
    padding: 20px 24px;
  }
}

@mixin page-container {
  margin-top: 20px;
  color: $text-color-white;
  height: 100%;
  box-sizing: border-box;
}
