@import "../../../content/styles/variables.scss";

.timer {
  display: flex;
  flex-direction: column;
  color: $text-color-blue;
  height: 100%;
  font-family: "Roboto";
  &__title {
    color: white;
    text-align: center;
  }
}

.clock {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clock-time {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 1.5rem;

  &__time-value{
    color: white;
  }
}

.timer-task {
  display: flex;
  flex-direction: column;
  flex: 1;
  &__title {
    font-size: 1.5rem;
    text-align: center;
    &_text{
      color: white;
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  &__start {
    @include button(100px, 40px, $green-btn, $green-btn-hover);
  }
  &__pause {
    @include button(100px, 40px, $blue-btn, $blue-btn-hover);
  }
  &__reset {
    @include button(100px, 40px, $red-btn, $red-btn-hover);
  }
}

.pomodoro-list{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  &__item{
    width: 25px;
    height: 25px;
  }
  &__title{
    @include reset-margin-padding;
  }
}
