<div class="timer">
  <h1 class="timer__title">Timer</h1>
  <div class="timer-task">    
    <div class="clock">
      <h3 class="timer-task__title">Title: <span class="timer-task__title_text">{{ task?.title }}</span></h3>
      <div class="pomodoro-list">
        <h3 class="pomodoro-list__title">Pomadoro rounds: </h3>       
        <img class="pomodoro-list__item" *ngFor="let i of fillTomatoArr" src="../../../assets/images/fill-tomato.svg" alt="empty-tomato">
        <img class="pomodoro-list__item" *ngFor="let i of emptyTomatosArr" src="../../../assets/images/empty-tomato.svg" alt="empty-tomato">
      </div>
      <div class="clock-timer">
        <circle-progress
          [percent]="isWorkIterationComplited ? getTimeLineInPersents('Break') : getTimeLineInPersents('Work')"
          [radius]="100"
          [outerStrokeWidth]="30"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#8DA5B8'"
          [innerStrokeColor]="'#FFA841'"
          [animationDuration]="1000"
          titleFontSize="2rem"
          [subtitle]="subtitle"
          titleColor="#8da5b8"
          unitsColor="#8da5b8"
          unitsFontSize="2rem"
          subtitleFontSize="1.2rem"
          [subtitleColor]="isShowNext ? 'Green' : '#A9A9A9'"
          [space]="-50"
          outerStrokeLinecap="butt"
          [startFromZero]="false"
          
        ></circle-progress>
      </div>
      <div class="clock-time">
        <p class="clock-time__item">
          HOURS:
          <span class="clock-time__time-value">
            {{
              getTime(time).hours >= 10
                ? getTime(time).hours
                : "0" + getTime(time).hours
            }}</span
          >
        </p>
        <p class="clock-time__item">
          MINUTES:<span class="clock-time__time-value">
            {{
              getTime(time).minutes >= 10
                ? getTime(time).minutes
                : "0" + getTime(time).minutes
            }}</span
          >
        </p>
        <p class="clock-time__item">
          SECONDS:<span class="clock-time__time-value">
            {{
              getTime(time).seconds >= 10
                ? getTime(time).seconds
                : "0" + getTime(time).seconds
            }}</span
          >
        </p>
      </div>
      <div class="buttons">
        <button
          class="buttons__start"
          (click)="startTimer()"
          [ngClass]="disableStart ? 'disabled' : ''"
          [disabled]="disableStart"
        >
          Start
        </button>
        <button
          class="buttons__pause"
          (click)="pauseTimer()"
          [ngClass]="disablePause ? 'disabled' : ''"
          [disabled]="disablePause"
        >
          Pause
        </button>
        <button
          class="buttons__reset"
          (click)="resetTimer()"
          [ngClass]="disableReset ? 'disabled' : ''"
          [disabled]="disableReset"
        >
          Reset
        </button>
        <button *ngIf="isShowNext" class="buttons__pause" (click)="goNextIteration()">Next</button>
        <button *ngIf="fillTomatoArr.length>1" class="buttons__start" routerLink="/tasks-list" (click)="finishTask()">Finish</button>
      </div>
    </div>
  </div>
</div>


