<div class="header">
  <h3 class="header__title">Pomodoro App</h3>
  <div class="header__buttons-row">
    <a class="header__button" routerLink="/tasks" routerLinkActive="active-link" matTooltip="Tasks-list" [routerLinkActiveOptions]="{ exact: true }">
      <fa-icon icon="list"></fa-icon>
    </a>
    <a class="header__button" routerLink="/reports" routerLinkActive="active-link" matTooltip="Reports">
      <fa-icon icon="chart-simple"></fa-icon>
    </a>
    <a class="header__button" routerLink="/settings" routerLinkActive="active-link"  matTooltip="Settings">
      <fa-icon icon="gear"></fa-icon>
    </a>
    <a class="header__button" routerLink="/profile" routerLinkActive="active-link"  matTooltip="Profile">
      <fa-icon icon="user"></fa-icon>
    </a>
    <a class="header__button"  matTooltip="Logout" (click)="logout()">
      <fa-icon icon="arrow-right-from-bracket"></fa-icon>
    </a>
  </div>  
</div>
