@import '../../../content/styles/variables.scss';

.header{
    font-family: 'Roboto';
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    background: $main-background !important;
    font-size: $font-size-text-desktop;
    &__title{
        @include reset-margin-padding;
        font-family: 'Roboto';
        font-size: $font-size-title-desktop;
        font-weight: 500;
        color: $text-color-white;
        @media (max-width: 1024px) {
            font-size: $font-size-title-mobile;
        }
    }
    &__buttons-row{
        display: flex;
        gap: 25px;
        @media (max-width: 1024px) {
            gap: 35px;
        }
    }
    &__button{
        color: $text-color-blue;
        font-size: inherit;
        &:hover{
            color: $text-color-blue-hover;
        }
    }
    @media (max-width: 1024px) {
        font-size: $font-size-text-mobile;
    }
}