@import "../../../content/styles/variables.scss";

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  &__description {
    margin-bottom: 50px;
    font-size: $font-size-text-desktop;
    color: $text-color-blue;
    line-height: 1.3;
    font-weight: 300;
  }
}

.settings-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 30px;
}

.settings-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 100px;
}

.category {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: $font-size-text-desktop;
  &__name {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: -26px;
      border-radius: 50%;
      width: 16px;
      height: 16px;
    }

    &_work-time {
      &::before {
        background: $work-time-color;
      }
    }
    &_work-iterations {
      &::before {
        background: $work-iteration-color;
      }
    }
    &_short-break {
      &::before {
        background: $short-break-color;
      }
    }
  }
  &__buttons-row {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid $text-color-blue;
  }

  &__input {
    width: 25px;
    background: none;
    border: none;
    text-align: center;
    font-size: inherit;
    color: $text-color-blue;
  }

  &__button {
    @include reset-btn-styles;
    font-size: inherit;
    color: $text-color-blue;
    cursor: pointer;
    &:hover {
      color: $text-color-blue-hover;
    }
  }
}

.info {
  color: $text-color-blue;
  &__min {
    color: $text-color-blue-hover;
  }
  &__value {
    color: $text-color-white;
  }
}

.buttons-row {
  display: flex;
  justify-content: center;
  gap: 20px;

  &__to-tasks {
    @include button(150px, 40px, $blue-btn, $blue-btn-hover);
  }

  &__save {
    @include button(150px, 40px, $green-btn, $green-btn-hover);
  }
}
