<div class="settings">
  <h1 class="settings__title">SETTINGS</h1>
  <h2 class="settings__description">Pomodoros settings</h2>
  <form class="settings-form" [formGroup]="form" (submit)="submit()">
    <div class="settings-wrapper">
      <div class="settings-form__item">
        <div class="category">
          <p class="category__name category__name_work-time">WORK TIME</p>
          <div class="category__buttons-row">
            <button class="category__button" type="button" (click)="changeWorkTime('dec')">-</button>
            <input class="category__input" readonly value="25" formControlName="workTime"  [value] = "settings.workTime" />
            <button class="category__button" type="button" (click)="changeWorkTime('inc')">+</button>
          </div>
        </div>
        <div class="info">
          <p class="info__item">
            Please select a value between <span class="info__min">5 </span>and
            <span class="info__min">25</span>
            <span class="info__value"> minutes</span>
          </p>
        </div>
      </div>

      <div class="settings-form__item">
        <div class="category">
          <p class="category__name category__name_work-iterations">
            WORK ITERATIONS
          </p>
          <div class="category__buttons-row">
            <button class="category__button" type="button" (click)="changeWorkIterations('dec')">-</button>
            <input class="category__input" readonly value="25" formControlName="workIterations"  [value] = "settings.workIterations"/>
            <button class="category__button"  type="button"(click)="changeWorkIterations('inc')">+</button>
          </div>
        </div>
        <div class="info">
          <p class="info__item">
            Please select a value between <span class="info__min">2 </span>and
            <span class="info__min">5</span>
            <span class="info__value"> iterations</span>
          </p>
        </div>
      </div>

      <div class="settings-form__item">
        <div class="category">
          <p class="category__name category__name_short-break">SHORT BREAK</p>
          <div class="category__buttons-row">
            <button class="category__button" type="button"(click)="changeShortBreak('dec')">-</button>
            <input class="category__input" readonly value="25" formControlName="shortBreak" [value] = "settings.shortBreak"/>
            <button class="category__button" type="button"(click)="changeShortBreak('inc')">+</button>
          </div>
        </div>
        <div class="info">
          <p class="info__item">
            Please select a value between <span class="info__min">3 </span>and
            <span class="info__min">5</span>
            <span class="info__value"> minutes</span>
          </p>
        </div>
      </div>
    </div>
    <div class="buttons-row">
      <button class="buttons-row__to-tasks" type="button" (click)="goToTasks()">Go to Tasks</button>
      <button class="buttons-row__save" type="submit">Save</button>
    </div>
  </form>
</div>
