<div class="profile">
  <h1 class="profile__title">PROFILE</h1>
  <div class="profile-content">
    <div class="user">
      <div class="user__info">
        <div class="user__avatar-wrapper">
          <h3 class="user__title">USER INFO</h3>
          <fa-icon class="user__avatar" icon="user"></fa-icon>
        </div>
        <div class="user__details" *ngIf="user">
          <p class="details">
            Full name: <span class="details__data">{{ user.fullName }}</span>
          </p>
          <p class="details">
            Email: <span class="details__data">{{ user.email }}</span>
          </p>
        </div>
      </div>
      <div class="user__stats">
        <h3 class="user__title">STATISTICS</h3>
        <div class="tasks-complited">
          <p class="tasks-complited__stats">
            All tasks: <span class="tasks-complited__value">{{tasks.length}}</span>
          </p>
          <p class="tasks-complited__stats">
            Complited tasks: <span class="tasks-complited__value">{{complitedTasks}}</span>
          </p>
          <p class="tasks-complited__stats">
            Expired tasks: <span class="tasks-complited__value">{{expiredTasks}}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="tasks">
      <h3 class="user__title">
        {{ isShowComplited ? "COMPLITED TASKS" : "EXPIRED TASKS" }}
      </h3>
      <div class="tasks-nav">
        <mat-button-toggle-group #group="matButtonToggleGroup" value="true">
          <mat-button-toggle
            class="nav-item"
            value="true"
            (click)="isShowComplited = true"
            >Complited</mat-button-toggle
          >
          <mat-button-toggle
            class="nav-item"
            value="false"
            (click)="isShowComplited = false"
            >Expired</mat-button-toggle
          ></mat-button-toggle-group
        >
      </div>
      <div class="tasks__conteiner" *ngIf="isShowComplited">
        <div
          class="tasks__content tasks__content_complited"
          *ngFor="let task of tasks | isComplited: 'complited'"
        >
          <app-task [task]="task" [info]="'complited'"(remove)="removeTask(task)"></app-task>
        </div>
      </div>
      <div class="tasks__conteiner" *ngIf="!isShowComplited">
        <div
          class="tasks__content tasks__content_expired"
          *ngFor="let task of tasks | isExpired: 'expired'"
        >
          <app-task [task]="task" [info]="'expired'" (remove)="removeTask(task)"></app-task>
        </div>
      </div>
    </div>
  </div>
</div>
