@import "../../../content/styles/variables.scss";

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .profile-content {
    display: flex;
    flex: 1;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    @media (max-width: 1240px) {
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 10px;
    }
  }
}

.user {
  width: 25%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;

  &__info {
    height: 45%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
  }
  &__stats {
    flex: 1;
    border: 1px solid white;
  }

  &__avatar {
    box-sizing: border-box;
    font-size: 4rem;
    color: $text-color-white;
  }

  &__avatar-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
  }

  &__title {
    @include reset-margin-padding;
    font-family: 'Roboto';
    color: $text-color-blue;
    font-size: $font-size-title-desktop;
    line-height: 1.11;
    font-weight: 300;
    text-align: center;
  }

  &__details{
    padding: 20px;
  }

  &__stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
  @media (max-width: 1240px) {
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;

    &__info{
      width: 50%;
      height: auto;
    }

    &__stats{
      width: 50%;
    }
  }

}

.tasks {
  width: 75%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  &__conteiner{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
  }

  @media (max-width: 1240px) {
    width: 100%;
  }
}


.details{
    font-size: $font-size-text-desktop;
    color: $text-color-blue;   

    &__data{
        color: $text-color-blue-hover;
    }
}

.tasks-complited{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    font-size: $font-size-text-desktop;
    color: $text-color-blue;
    &__value{
        color: $text-color-blue-hover;
    }
}

.complited{
    border-bottom: 3px solid green;
}

.tasks-nav{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-size: $font-size-text-desktop;
    color: $text-color-blue;
}

.nav-item{
    @include reset-btn-styles;
    color: $text-color-blue;
    &:hover{
        color: $text-color-blue-hover
    }
}