@import "../../../content/styles/variables.scss";

.alert-wrap {
  position: fixed;
  bottom: 50px;
  right: 100px;
  text-align: end;
}

.alert {
  width: 500px;
  height: 60px;
  display: flex;
  align-items: center;
  color: $text-color-white;
  font-size: $font-size-text-desktop;
  font-family: "Roboto";
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  border-radius: 10px;

  &__success {
    background: $alert-success;
  }
  &__warning {
    background: $alert-warning;
  }
  &__danger {
    background: $alert-danger;
  }
  &__info {
    background: $alert-info;
  }

  &__close {
    border: none;
    background: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}
}
