<div class="alert-wrapper" *ngIf="text">
  <div
    class="alert"
    [ngClass]="{
      alert__success: type === 'success',
      alert__warning: type === 'warning',
      alert__danger: type === 'danger',
      alert__info: type === 'info'
    }"
  >
    <span class="alert__text">
      {{ text }}
    </span>
    <button class="alert__close">
      <fa-icon icon="circle-xmark" (click)="closeAlert()"></fa-icon>
    </button>
  </div>
</div>
