@import '../../../content/styles/variables.scss';

.sign-in-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &__title{
        font-family: 'Roboto';
        line-height: 1.3;
        font-weight: 500;
    }

}

.sign-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 500px;
    height: 500px;
    border-radius: 50px;
    color: black;
}

.form{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 15px;
    &__input{
        width: 100%;
    }

    &__button_google{
        height: 40px;
        display: flex;
        align-items: center;
        border: none;
        cursor: pointer;
        background: rgb(240, 240, 240);
        &:hover{
            background: rgb(220, 220, 220); 
        }
        
    }

    &__button_submit{
        @include button(100%, 40px, $blue-btn, $blue-btn-hover);
    }
}

.button-row{
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__icon{
        width: 25px;
        height: 25px;
    }

    &__google-text{
        font-size: 1rem;
        font-family: 'Roboto';
        font-weight: 500;
        width: 90%;
    }
}

.register-now{
    text-align: end;
    font-size: 1rem;
}

