<div class="sign-in-form">
  <div class="sign-in">
    <h2 class="sign-in-form__title">SIGN IN</h2>
    <form class="form" [formGroup]="form" (submit)="login()">
      <!-- Email -->
      <mat-form-field class="form__input" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="example@gmail.com"
        />
        <mat-error *ngIf="form.get('email')?.errors?.email">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="form.get('email')?.errors?.required">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- Password -->
      <mat-form-field class="form__input" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          placeholder="Enter password"
        />
        <mat-error *ngIf="form.get('password')?.errors?.required">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.get('password')?.errors?.minlength">
          Min length is - <strong>8 symbols</strong> you enter
          <strong>{{
            form.get("password")?.errors?.minlength.actualLength
          }}</strong>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button type="submit" class="form__button form__button_submit">
          Login
        </button>
        <!-- <button type="button" class="form__button form__button_google">
          <img
            class="button-row__icon"
            src="../../../../assets/images/google.png"
            alt="google-logo"
          /><span class="button-row__google-text">Continue with Google</span>
        </button> -->
      </div>
      <div class="register-now">
        <a class="register-now__link" routerLink="/registration"
          >Register now</a
        >
      </div>
    </form>
  </div>
</div>
