<div class="tasks-list">
  <h3 class="tasks-list__title">
    Daily Task List
    <fa-icon
      class="add-task-btn"
      matTooltip="Add a new task"
      icon="plus"
      (click)="addTask()"
    ></fa-icon>
  </h3>
  <div *ngIf="!isTasks('today') && isTasks('not-today')" class="no-today-tasks">
    <img
      class="no-today-tasks__img"
      src="../../../assets/images/tomato-move-up.svg"
      alt="move your tasks up"
    />
    <h2 class="no-today-tasks__title">Move your top 5 tasks on today!</h2>
  </div>
  <div
    *ngIf="!isTasks('today') && !isTasks('not-today')"
    class="no-today-tasks"
  >
    <img
      class="no-today-tasks__img no-today-tasks__img_no-tasks"
      src="../../../assets/images/tomato-add.svg"
      alt="move your tasks up"
      (click)="addTask()"
    />
    <h2 class="no-today-tasks__title">
      You don't have any tasks. Please add your first task!
    </h2>
  </div>
  <span *ngIf=" tasks && !!tasks.length"
    [ngClass]="
      isRemoveMode
        ? 'remove-mode-trash remove-mode-trash__active'
        : 'remove-mode-trash'
    "
    class="remove-mode-trash"
    (click)="useTrashInRemoveMode()"
    [matBadge]="tasksToRemove.length"
    matBadgeSize="small"
    [matBadgeHidden]="!isRemoveMode || !tasksToRemove.length"
    matBadgeColor="warn"
    [matTooltip]="
      tasksToRemove.length > 0 ? 'Remove selected tasks' : 'Remove mode'
    "
    ><fa-icon icon="trash-can"></fa-icon
  ></span>

  <div class="remove-mode-select" *ngIf="isRemoveMode">
    <span
      [ngClass]="checkOnAllTasks() ? 'active' : ''"
      class="remove-mode-select__item"
      (click)="toggleRemoveTasks('select all')"
      matTooltip="Select all tasks"
      >Select All</span
    ><span
      [ngClass]="tasksToRemove.length === 0 ? 'active' : ''"
      class="remove-mode-select__item"
      (click)="toggleRemoveTasks('de select all')"
      matTooltip="Deselect all tasks"
      >Deselect All</span
    >
  </div>

  <div *ngIf="isTasks('today')" class="tasks-list__today">
    <div
      class="tasks-list__tasks tasks-list__not-today"
      *ngIf="isTasks('today')"
    >
      <app-task
        *ngFor="
          let task of tasks
            | filterNotTodayTasks: 'today'
            | isComplited: 'un-complited'
        "
        [task]="task"
        [date]="'Today'"
        (remove)="removeTask(task)"
        (update)="updateTask(task)"
        [isRemoveMode]="isRemoveMode"
        (addToRemoveArray)="toggleInRemoveArr(task, 'add')"
        (removeFromRemoveArray)="toggleInRemoveArr(task, 'remove')"
      ></app-task>
    </div>
    <div *ngIf="!isTasks('today')">
      <h1>YOU DONT HAVE TODAY TASKS YET</h1>
    </div>
  </div>
  <div
    *ngIf="isTasks('not-today')"
    class="tasks-list__tasks tasks-list__not-today"
  >
    <div class="tasks-list__not-today_header">
      <div class="global-list-view">
        <h2 class="global-list-view__title">Global list</h2>
        <button
          class="global-list-view__buttons-row"
          (click)="showGlobalList = !showGlobalList"
        >
          <fa-icon *ngIf="!showGlobalList" icon="eye"></fa-icon
          ><fa-icon *ngIf="showGlobalList" icon="eye-slash"></fa-icon>
        </button>
      </div>
      <div *ngIf="showGlobalList">
        <mat-button-toggle-group #group="matButtonToggleGroup" value="All">
          <mat-button-toggle
            class="global-list-filter"
            value="All"
            (click)="setPriorityValue('All')"
            >All</mat-button-toggle
          >
          <mat-button-toggle
            class="global-list-filter"
            value="Urgent"
            (click)="setPriorityValue('Urgent')"
            >Urgent</mat-button-toggle
          >
          <mat-button-toggle
            class="global-list-filter"
            value="High"
            (click)="setPriorityValue('High')"
            >High</mat-button-toggle
          >
          <mat-button-toggle
            class="global-list-filter"
            value="Middle"
            (click)="setPriorityValue('Middle')"
            >Middle</mat-button-toggle
          >
          <mat-button-toggle
            class="global-list-filter"
            value="Low"
            (click)="setPriorityValue('Low')"
            >Low</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>
    </div>

    <div
      *ngIf="showGlobalList"
      class="global-list tasks-list__tasks tasks-list__not-today"
    >
      <div
        class="global-list__item global-list__item_hobby"
        *ngIf="isCategory('hobby', priorityValue)"
      >
        <div class="not-today-tasks-wrapper not-today-tasks-wrapper_hobby">
          <h3
            class="not-today-tasks-wrapper__title not-today-tasks-wrapper__title_hobby"
          >
            HOBBY
          </h3>
          <app-task
            *ngFor="
              let task of tasks
                | filterNotTodayTasks: 'not-today'
                | filterByPriority: priorityValue
                | filterByCategory: 'hobby'
                | isExpired: 'not-expired'
                | isComplited: 'un-complited'
            "
            [task]="task"
            (moveTaskUp)="moveTaskUp(task)"
            (remove)="removeTask(task)"
            (update)="updateTask(task)"
            [isRemoveMode]="isRemoveMode"
            (addToRemoveArray)="toggleInRemoveArr(task, 'add')"
            (removeFromRemoveArray)="toggleInRemoveArr(task, 'remove')"
          ></app-task>
        </div>
      </div>
      <div
        class="global-list__item global-list__item_work"
        *ngIf="isCategory('work', priorityValue)"
      >
        <div class="not-today-tasks-wrapper not-today-tasks-wrapper_work">
          <h3
            class="not-today-tasks-wrapper__title not-today-tasks-wrapper__title_work"
          >
            WORK
          </h3>
          <app-task
            *ngFor="
              let task of tasks
                | filterNotTodayTasks: 'not-today'
                | filterByPriority: priorityValue
                | filterByCategory: 'work'
                | isExpired: 'not-expired'
                | isComplited: 'un-complited'
            "
            [task]="task"
            (moveTaskUp)="moveTaskUp(task)"
            (remove)="removeTask(task)"
            (update)="updateTask(task)"
            [isRemoveMode]="isRemoveMode"
            (addToRemoveArray)="toggleInRemoveArr(task, 'add')"
            (removeFromRemoveArray)="toggleInRemoveArr(task, 'remove')"
          ></app-task>
        </div>
      </div>
      <div
        class="global-list__item global-list__item_education"
        *ngIf="isCategory('education', priorityValue)"
      >
        <div class="not-today-tasks-wrapper not-today-tasks-wrapper_education">
          <h3
            class="not-today-tasks-wrapper__title not-today-tasks-wrapper__title_education"
          >
            EDUCATION
          </h3>
          <app-task
            *ngFor="
              let task of tasks
                | filterNotTodayTasks: 'not-today'
                | filterByPriority: priorityValue
                | filterByCategory: 'education'
                | isExpired: 'not-expired'
                | isComplited: 'un-complited'
            "
            [task]="task"
            (moveTaskUp)="moveTaskUp(task)"
            (remove)="removeTask(task)"
            (update)="updateTask(task)"
            [isRemoveMode]="isRemoveMode"
            (addToRemoveArray)="toggleInRemoveArr(task, 'add')"
            (removeFromRemoveArray)="toggleInRemoveArr(task, 'remove')"
          ></app-task>
        </div>
      </div>
      <div
        class="global-list__item global-list__item_sport"
        *ngIf="isCategory('sport', priorityValue)"
      >
        <div class="not-today-tasks-wrapper not-today-tasks-wrapper_sport">
          <h3
            class="not-today-tasks-wrapper__title not-today-tasks-wrapper__title_sport"
          >
            SPORT
          </h3>
          <app-task
            *ngFor="
              let task of tasks
                | filterNotTodayTasks: 'not-today'
                | filterByPriority: priorityValue
                | filterByCategory: 'sport'
                | isExpired: 'not-expired'
                | isComplited: 'un-complited'
            "
            [task]="task"
            (moveTaskUp)="moveTaskUp(task)"
            (remove)="removeTask(task)"
            (update)="updateTask(task)"
            [isRemoveMode]="isRemoveMode"
            (addToRemoveArray)="toggleInRemoveArr(task, 'add')"
            (removeFromRemoveArray)="toggleInRemoveArr(task, 'remove')"
          ></app-task>
        </div>
      </div>
      <div
        class="global-list__item global-list__item_other"
        *ngIf="isCategory('other', priorityValue)"
      >
        <div class="not-today-tasks-wrapper not-today-tasks-wrapper_other">
          <h3
            class="not-today-tasks-wrapper__title not-today-tasks-wrapper__title_other"
          >
            OTHER
          </h3>
          <app-task
            *ngFor="
              let task of tasks
                | filterNotTodayTasks: 'not-today'
                | filterByPriority: priorityValue
                | filterByCategory: 'other'
                | isExpired: 'not-expired'
                | isComplited: 'un-complited'
            "
            [task]="task"
            (moveTaskUp)="moveTaskUp(task)"
            (remove)="removeTask(task)"
            (update)="updateTask(task)"
            [isRemoveMode]="isRemoveMode"
            (addToRemoveArray)="toggleInRemoveArr(task, 'add')"
            (removeFromRemoveArray)="toggleInRemoveArr(task, 'remove')"
          ></app-task>
        </div>
      </div>
    </div>
  </div>
</div>
