@import "../../../content/styles/variables.scss";

.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-sizing: border-box;
  &__title {
    font-size: 1.75rem;
    text-align: center;
    display: flex;
    align-items: center;
    align-self: center;
    gap: 20px;
  }
  &__tasks {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 20px;
  }
  &__not-today_header {
    display: flex;
    justify-content: space-between;
    font-size: $font-size-text-desktop;
    color: $text-color-blue;
  }
}

.global-list {
  display: flex;
  align-items: center;
  gap: 90px;
  min-height: 50px;
  &__title {
    @include reset-margin-padding;
    display: flex;
    align-items: center;
    font-size: inherit;
  }
  &__buttons-row {
    @include reset-btn-styles;
    @include reset-margin-padding;
    color: $text-color-blue;
    font-size: inherit;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 100%;
    &::before {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      top: -25px;
      left: -4px;
      position: absolute;
      content: "";
      display: inline-block;
      visibility: visible;
    }
    &_education::before {
      background: $category-education;
    }
    &_work::before {
      background: $category-work;
    }
    &_sport::before {
      background: $category-sport;
    }
    &_hobby::before {
      background: $category-hobby;
    }
    &_other::before {
      background: $category-other;
    }

    &::after {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      top: -21px;
      left: 0px;
      position: absolute;
      content: "";
      display: inline-block;
      visibility: visible;
      border: 2px solid #2a3f50;
    }
  }
}

.global-list-filter {
  background: none !important;
  border: none !important;
  color: $text-color-blue;
}

.not-today-tasks-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: calc(100% + 10px);
    left: 0;
    top: -10px;
  }

  &__title {
    position: absolute;
    top: -31px;
    font-size: 18px;
    font-weight: 500;
    left: 20px;
    font-family: "Roboto";
    &_education {
      color: $category-education;
    }
    &_work {
      color: $category-work;
    }
    &_sport {
      color: $category-sport;
    }
    &_hobby {
      color: $category-hobby;
    }
    &_other {
      color: $category-other;
    }
  }

  &_education::before {
    background: $category-education;
  }
  &_work::before {
    background: $category-work;
  }
  &_sport::before {
    background: $category-sport;
  }
  &_hobby::before {
    background: $category-hobby;
  }
  &_other::before {
    background: $category-other;
  }
}

.global-list-view {
  display: flex;
  align-items: center;
  gap: 10px;
  min-height: 50px;
  margin-bottom: 20px;
  &__title {
    @include reset-margin-padding;
    display: flex;
    align-items: center;
    font-size: inherit;
  }
  &__buttons-row {
    @include reset-btn-styles;
    @include reset-margin-padding;
    color: $text-color-blue;
    font-size: inherit;
  }
}

.no-today-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__img {
    max-width: 500px;
    &_no-tasks{
      cursor: pointer;
    }
  }
  &__title {
    font-family: "Roboto";
    color: $text-color-blue;
    font-size: 30px;
    font-weight: 300;
    line-height: 42px;
  }
}

.add-task-btn {
  cursor: pointer;

  &:hover {
    color: $text-color-blue-hover;
  }
}

.remove-mode-select {
  display: flex;
  gap: 10px;
  font-size: 18px;
  color: $text-color-blue;
  cursor: pointer;
  &__item {
    &:hover {
      color: $text-color-blue-hover;
    }
  }
}

.remove-mode-trash {
  position: absolute;
  top: 34px;
  right: 275px;
  font-size: $font-size-text-desktop;
  color: $text-color-blue;
  cursor: pointer;
    &:hover{
    color: $text-color-blue-hover;
  }
  &__active{
    color: white;
  }

  @media (max-width: 1024px) {
    font-size: $font-size-text-mobile;
    top: 22px;
    right: 310px;
  }

}


.active{
  color: white;
}