<div class="registration-wrapper">
  <div class="registration">
    <h2 class="registration__title">REGISTRATION</h2>
    <form class="form" [formGroup]="form" (submit)="submit()">
      <!-- Full name -->
      <mat-form-field class="form__input" appearance="fill">
        <mat-label>Full name</mat-label>
        <input
          matInput
          formControlName="fullName"
          placeholder="Enter full name"
        />
        <mat-error *ngIf="form.get('fullName')?.errors?.required">
          Full name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.get('fullName')?.errors?.minlength">
          Minumin <strong>6</strong> sumbols
        </mat-error>
      </mat-form-field>
      <!-- Email -->
      <mat-form-field class="form__input" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="example@gmail.com"
        />
        <mat-error *ngIf="form.get('email')?.errors?.email">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="form.get('email')?.errors?.required">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <div class="password-group" >
        <!-- Password -->
        <mat-form-field class="form__input" appearance="fill">
          <mat-label>Password</mat-label>
          <input
            type="password"
            formControlName="password"
            matInput
            placeholder="Enter password"
          />
          <mat-error *ngIf="form.get('password')?.errors?.required">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="form.get('password')?.errors?.minlength">
            Minumin <strong>8</strong> sumbols
          </mat-error>
        </mat-form-field>
        <!-- Confirm password -->
        <mat-form-field class="form__input" appearance="fill">
          <mat-label>Confirm password</mat-label>
          <input
            type="password"
            formControlName="confirmPassword"
            matInput
            placeholder="Confirm password"
          />
          <mat-error *ngIf="form.get('confirmPassword')?.errors?.required">
            Confirm password
          </mat-error>
          <mat-error *ngIf="form.get('confirmPassword')?.errors?.notSame">
            Password didn't match
          </mat-error>
        </mat-form-field>
      </div>

      <button class="form__button form__button_submit">Register</button>
      <span class="go-to-login"><a routerLink="/login">Sign In</a></span>
    </form>
  </div>
</div>
