@import '../../../content/styles/variables.scss';

.registration-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: 500px;
  height: 500px;
  border-radius: 50px;
  color: black;

  &__title {
    font-family: "Roboto";
    line-height: 1.3;
    font-weight: 500;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 10px;

  &__input {
    width: 100%;
  }

  &__button_submit{
    @include button(100%, 40px, $blue-btn, $blue-btn-hover);
  }

}

.button-row{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.go-to-login{
    align-self: flex-end;
    font-size: 1rem;
}