@import '../../../content/styles/variables.scss';

.remove-dialog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: $text-color-blue;
    font-family: 'Roboto';
    &__title{
        font-size: 30px;
    }
    &__task-title{
        font-weight: 400;
        color: $text-color-white;
        font-size: 2rem
    }

    &__text{
        font-size: 28px;
        font-weight: 300;
        line-height: 40px;
        text-align: center;
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 22px;
        gap: 20px;
        
    }

    &__buttons-row{
        display: flex;
        gap: 20px;
        font-family: 'PTSans';

    }

    &__cancel-btn{
        @include button(100px, 40px, $blue-btn, $blue-btn-hover);

    }
    &__remove-btn{
        @include button(100px, 40px, $red-btn, $red-btn-hover);

    }
}


