<div class="remove-dialog">
  <h1 class="remove-dialog__title" mat-dialog-title>Delete task</h1>
  <div *ngIf="data.title" mat-dialog-content class="remove-dialog__content">
    <p class="remove-dialog__text">Are you sure you want to remove:</p>
    <p class="remove-dialog__task-title">{{ data.title }} ?</p>
  </div>
  <div *ngIf="!data.title" mat-dialog-content class="remove-dialog__content">
    <p class="remove-dialog__text">Are you sure you want to remove selected:</p>
    <p class="remove-dialog__task-title">{{ data }}</p>
    <p class="remove-dialog__text">task(s)?</p>
  </div>
  <div class="remove-dialog__buttons-row" mat-dialog-actions>
    <button
      class="remove-dialog__cancel-btn"
      mat-button
      [mat-dialog-close]="false"
    >
      Cancel
    </button>
    <button
      class="remove-dialog__remove-btn"
      mat-button
      [mat-dialog-close]="true"
      cdkFocusInitial
    >
      Remove
    </button>
  </div>
</div>
