@import '../../../../../content/styles/variables.scss';

.task-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: $text-color-blue;
    padding: 10px;

    &__title-main{
        align-self: center;
    }
    &__radio-section{
        padding: 10px 0;
        display: flex;
        gap: 20px;
        font-size: 1rem;                
    }

    &__title{
        font-size: 1.1rem;
        font-family: 'PTSans';
    }

    &__input{
        color: black;
    }

    &__radio-btn{
        &:hover{
            color: $text-color-blue-hover;
        }
    }

    &__button-row{
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    &__button_cancel{
        @include button(100px, 40px, $blue-btn, $blue-btn-hover)
    }
    &__button_submit{
        @include button(100px, 40px, $green-btn, $green-btn-hover)
    }
}



.mat-wrapper{
    display: flex;
    flex-direction: column;
}