<form class="task-form" [formGroup]="form">
  <h1 class="task-form__title-main">
    {{ isNewTask ? "Add new task" : "Edit task" }}
  </h1>
  <div class="mat-wrapper">
    <h3 class="task-form__title">TITLE</h3>
    <mat-form-field class="task-form__input" appearance="fill">
      <mat-label>Add title here</mat-label>
      <input matInput placeholder="" value="" formControlName="title" />
    </mat-form-field>
  </div>

  <div class="mat-wrapper">
    <h3 class="task-form__title">DESCRIPTION</h3>
    <mat-form-field class="task-form__input" appearance="fill">
      <mat-label>Add description here</mat-label>
      <textarea matInput placeholder=""  formControlName="description"></textarea>
    </mat-form-field>
  </div>
  <section class="task-form__category">
    <label class="task-form__title">CATEGORY</label>
    <mat-radio-group
      class="task-form__radio-section category__radio-section"
      [(ngModel)]="category"
      standAlone="true"
      formControlName="category"
    >
      <mat-radio-button class="task-form__radio-btn work" value="work">
        Work
      </mat-radio-button>
      <mat-radio-button class="task-form__radio-btn" value="hobby">
        Hobby
      </mat-radio-button>
      <mat-radio-button class="task-form__radio-btn" value="sport">
        Sport
      </mat-radio-button>
      <mat-radio-button class="task-form__radio-btn" value="education">
        Education
      </mat-radio-button>
      <mat-radio-button class="task-form__radio-btn" value="other">
        Other
      </mat-radio-button>
    </mat-radio-group>
  </section>
  <div class="mat-wrapper">
    <h3 class="task-form__title">DEADLINE</h3>
    <mat-form-field appearance="fill">
      <mat-label>Choose deadline date</mat-label>
      <input matInput [matDatepicker]="picker"   formControlName="date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <section class="task-form__priority">
    <label class="task-form__title">PRIORITY</label>
    <mat-radio-group
      class="task-form__radio-section priority__radio-section"
      [(ngModel)]="priority"
      standAlone="true"
      formControlName="priority"
    >
      <mat-radio-button class="task-form__radio-btn" value="urgent">
        Urgent
      </mat-radio-button>
      <mat-radio-button class="task-form__radio-btn" value="high">
        Hign
      </mat-radio-button>
      <mat-radio-button class="task-form__radio-btn" value="middle">
        Middle
      </mat-radio-button>
      <mat-radio-button class="task-form__radio-btn" value="low">
        Low
      </mat-radio-button>
    </mat-radio-group>
  </section>
  <div class="task-form__button-row">
    <button
      class="task-form__button_cancel"
      type="button"
      [mat-dialog-close]="submitForm(false)"
      cdkFocusInitial
    >
      Cancel
    </button>
    <button
      class="task-form__button_submit"
      type="submit"
      cdkFocusInitial
      [ngClass]="form.invalid ? 'disabled' : ''"
      [disabled]="form.invalid ? 'disabled' : ''"
      [mat-dialog-close]="submitForm(true)"
    >
      {{ isNewTask ? "Create" : "Save" }}
    </button>
  </div>
</form>
