@import '../../../content/styles/variables.scss';

.reports{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    height: 100%;
}


.chart-container{
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    @media (max-width: 1024px) {
        width: 60%;
    }

    &__links{
        display: flex;
        gap: 10px;
        justify-content: end;
    }

    &__item{
        color: $text-color-blue;
        font-size: 1rem;
        text-decoration: underline;
        cursor: pointer;
        &:hover{
            color: $text-color-blue-hover;
        }
    }
}

.active{
    color: white;
}

.show-actual{
    font-family: 'Roboto';
}


.no-tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        font-family: "Roboto";
        color: $text-color-blue;
        line-height: 42px;
        font-weight: 400;
    }

    &__img{
        width: 20%;
    }
}