<div class="reports">
  <h1>REPORTS</h1>
  <div class="chart-container" *ngIf=" showChart;  else noTasks">
    <canvas  id="MyChart">{{ chart }}</canvas>
    <div><mat-slide-toggle class="show-actual" color="primary" [checked]="isActual" (change)="toggleTasks()">Show actual</mat-slide-toggle></div>
    <div class="chart-container__links">
        <a class="chart-container__item" (click)="changeChart()" [ngClass]="isShowPriority ? 'active' : ''"
          >By Priority</a
        >
        <span>|</span>
        <a class="chart-container__item" (click)="changeChart()" [ngClass]="!isShowPriority ? 'active' : ''"
          >By Category</a
        >
      </div>
  </div>
  
  <ng-template #noTasks class="no-tasks">
    <h2 class="no-tasks__title">THERE IS NO TASKS YET</h2>
    <img class="no-tasks__img" src="../../../assets/images/cat-no-tasks.png" alt="no tasks">
  </ng-template>
</div>
