<div
  [className]="task.category ? 'task task_' + task.category : 'task'"
  [ngClass]="{ complited: info === 'complited', expired: info === 'expired' }"
>
  <div class="task__date">
    <span *ngIf="!isRemoveMode && !info">{{
      date ? date : (task.date | date: "dd MMM")
    }}</span>
    <span *ngIf="!isRemoveMode && info === 'complited'">{{
      date ? date : "Done"
    }}</span>
    <span *ngIf="!isRemoveMode && info === 'expired'">{{
      date ? date : "Expired"
    }}</span
    ><span
      *ngIf="isRemoveMode"
      [className]="'remove-mode-icon remove-mode-icon_' + task.category"
      ><fa-icon
        *ngIf="isRemoveMode && !task.onRemove"
        class="remove-mode-icon__item"
        icon="trash-can"
        matTooltip="Add to trash"
        (click)="addToRemoveList()"
      ></fa-icon
      ><fa-icon
        *ngIf="isRemoveMode && task.onRemove"
        class="remove-mode-icon__item"
        icon="circle-xmark"
        matTooltip="Remove from trash"
        (click)="removeFromRemoveList()"
      ></fa-icon
    ></span>
  </div>
  <div class="task__content">
    <h3
      [className]="
        task.category
          ? 'task__title task__title_' + task.priority
          : 'task__title'
      "
    >
      {{ task.title }}
    </h3>
    <p class="task__description" *ngIf="!info">
      {{ task.description }}
    </p>
  </div>
  <div class="task__buttons-row">
    <button
      *ngIf="!date && !info"
      class="task__button"
      matTooltip="Move up"
      (click)="moveUp()"      
    >
      <fa-icon icon="arrows-up-to-line"></fa-icon>
    </button>
    <button class="task__button" matTooltip="Edit task" (click)="editTask()"  *ngIf="!info">
      <fa-icon icon="pencil"></fa-icon>
    </button>
    <button
      class="task__button"
      matTooltip="Remove task"
      (click)="removeTask()"
    >
      <fa-icon icon="trash-can"></fa-icon>
    </button>
  </div>
  <div
    [className]="
      task.category
        ? 'task__priority task__priority_' + task.priority
        : 'task__title'
    "
    *ngIf="!info"
  >
    <span
      class="priority-icon priority-icon__today"
      *ngIf="isTodayDay(task.date)"
      [routerLink]="['/timer', task.id]"
      matTooltip="Go to the timer"
      ><fa-icon class="task-icon-clock" icon="clock"></fa-icon
      ><fa-icon class="task-icon-unlock" icon="unlock"></fa-icon
    ></span>
    <span class="priority-icon" *ngIf="!isTodayDay(task.date)"
      ><fa-icon icon="lock" matTooltip="You need to move task UP"></fa-icon
    ></span>
  </div>
</div>
