@import "../../../../../content/styles/variables.scss";

.task {
  display: flex;
  background: $white-background;

  box-sizing: border-box;
  text-align: center;
  font-size: 1rem;
  color: $text-color-grey;
  &__date {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(15% / 2);
    position: relative;
    margin-right: 10px;
  }
  &__title {
    @include reset-margin-padding;
    font-size: 1.13rem;        
    &_urgent {
      color: $priority-urgent;
    }
    &_high {
      color: $priority-high;
    }
    &_middle {
      color: $priority-middle;
    }
    &_low {
      color: $priority-low;
    }
  }
  &__description {
    @include reset-margin-padding;
  }
  &__buttons-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px ;
    width: 10%;
  }
  &__priority {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(15% / 2);
    min-width: 90px;
    position: relative;
    &_urgent {
      background: $priority-urgent;
    }
    &_high {
      background: $priority-high;
    }
    &_middle {
      background: $priority-middle;
    }
    &_low {
      background: $priority-low;
    }
  }

  &__button {
    @include reset-btn-styles;
    font-size: $font-size-text-desktop;
    color: $text-color-grey;
    cursor: pointer;
    &:hover {
      color: $text-color-blue-hover;
    }
    @media (max-width: 1024) {
      font-size: $font-size-text-mobile;
    }
  }
  &__content {
    padding: 20px 0;
    width: 80%;
    text-align: start;
  }

  &_hobby {
    border-left: 6px solid $category-hobby;
  }
  &_sport {
    border-left: 6px solid $category-sport;
  }
  &_education {
    border-left: 6px solid $category-education;
  }
  &_other {
    border-left: 6px solid $category-other;
  }
  &_work {
    border-left: 6px solid $category-work;
  }
}


.priority-icon{
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;

  &__today:hover{
    .task-icon-unlock{
      display: none;
    }
    .task-icon-clock{
      display: block;
  }
  }
}

.task-icon-clock{
    display: none;
}

.remove-mode-icon{
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  &_hobby {
    background: $category-hobby;
  }
  &_sport {
    background: $category-sport;
  }
  &_education {
    background: $category-education;
  }
  &_other {
    background: $category-other;
  }
  &_work {
    background: $category-work;
  }

  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.complited{
  background: rgb(225, 255, 225);
}

.expired{
  background: rgb(235, 235, 235);

}